<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="src/styles/index.css" />
</head>
<body>
    <ul>
        <li>
            <a href="./src/pages/404.hbs">404</a>
        </li>
        <li>
            <a href="./src/pages/500.hbs">500</a>
        </li>
        <li>
            <a href="./src/pages/login.hbs">login</a>
        </li>
        <li>
            <a href="./src/pages/signup.hbs">signup</a>
        </li>
        <li>
            <a href="./src/pages/info.hbs">info</a>
        </li>
        <li>
            <a href="./src/pages/main/main.hbs">chats</a>
        </li>
    </ul>
</body>
</html>