<div class="card container container-sm">
    <div class="box center flex flex-x-center flex-column text-center">
        <h3 class="text--medium mb-s2">{{ formTitle }}</h3>
        <form>
            <fieldset>
                {{#block "main"}}
                    {{> 'input/input' name='name' type='text' placeholder='Name' }}
                    {{> 'input/input' name='password' type='password' placeholder='Password' }}
                {{/block}}
            </fieldset>
            <div class="mt-s1">
                {{> 'button/button' text=buttonText }}
            </div>
            <div class="mt-s1">
                <a href="#">{{ linkText }}</a>
            </div>
        </form>
    </div>
</div>
