<div class="personal-image">
    <fieldset>
        <input type="file" name="avatar"/>
    </fieldset>
    <figure class="personal-figure">
        <img src="#" class="personal-avatar" alt="avatar">
        <figcaption class="personal-figcaption">
            <img src="../assets/camera.svg" alt="avatar">
        </figcaption>
    </figure>
</div>
