<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css" />
</head>
<body>
    <main class="center flex flex-column flex-center height-max">
        {{{body}}}
    </main>
</body>
</html>
